#header{
    border-bottom: 3px solid;
    font-weight: 600;

}
#body{
    padding: 0.5rem;
    border: 3px solid;
    margin: 25px;
    min-height: 150px;
    font-weight: 600;
}
#width{width: 512px;}
#footer{
    border-top: 3px solid;
    font-weight: 600;
}